<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <script src="/javascripts/clientside.js"></script>
</head>
<body>
<h1>Hello!</h1>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  var socket = io();

  socket.on('connect', function() {
    console.log('Connected!');
  });
</script>
</html>